body {
    padding: 3%;
    background-color: #654474;
    font-family: 'Times New Roman', Times, serif;
}

.book {
    margin: 0;
    padding: 3%;
    background-color: white;
}

.name{
    margin: 0;
}

.author{
    margin: 0;
}

.img_book {
    margin-left: 0;
}

.history_back {
    margin-left: 0;
}